.mgnlBgDark,body.mgnlDialogBody {
	background-color: #FAFBF4;
}

.mgnlBgDark {
	margin: 0;
	padding: 0;
}

.mgnlBgLight,div.mgnlDialogTab,div.mgnlTreeDiv,.mgnlTreeMenu,.mgnlAdminCentralMenuDiv{
	background-color: white;
}

.mgnlText {
	font-family: Verdana, sans-serif;
	font-size: 11px;
	color: #000;
}

.mgnlTextSmall {
	font-family: Verdana, sans-serif;
	font-size: 9px;
	color: #000;
}