/* ---------------------------
 * Edit bars definitions
 * --------------------------- */

/*
 * General appearance of edit bar.
 *
 * 	 base color: #487000
 *   with overlaid gradient: #305000, transparency shifting from 100% to 0%
 */
div.mgnlEditorBar {
  width: 100 !important;
    /* Setting width like this (without using %) ensures the bar doesn't overlap its element. */
  height: 22px;
    /* Set height else on FF default buttons height screws up layout. */
  line-height: 21px;
    /* Set line-height ensures that labels are vertically centered. Must be equal to height minus */
    /* vertical paddings -1. "-1" to make sure that FF properly align labels in all cases; for other */
    /* browsers, this has no effect. This only works with single-line labels. */
  padding: 0 3px;
  margin: 0;
  border-top: 1px solid #81a312;
  border-left: 1px solid #81a312;
  border-bottom: 1px solid #305000;
  border-right: 1px solid #305000;
  background-color: transparent;
  background-image: url("../img/mgnl-bar.png");
  background-repeat: repeat;
  color: #F0F2E6;
}

/*
 * Page edit bar.
 */
.mgnlEditorMainbar {
  position: static;
  z-index: 900;
  margin: 0pt;
}

#mgnlEditorMainbarPlaceholder {
  margin-left: 45%;
  line-height: 18px;
  position: absolute;
}

/*
 * Area edit bar.
 */
.mgnlEditorBar.area {
  border-radius: 7px 7px 0 0;
  clear: both;
}

/*
 * Component edit bar.
 *
 * 	 base color: #91ba26
 *   with overlaid gradient: #81a312, transparency shifting from 100% to 0%
 */
.mgnlEditorBar.component {
  border-top: 1px solid #91ba26;
  border-left: 1px solid #91ba26;
  border-bottom: 1px solid #719302;
  border-right: 1px solid #719302;
  background-color: transparent;
  background-image: url("../img/mgnl-bar.component.png");
  background-repeat: repeat;
  color: #004000;
}

/*
 * Page edit bar in preview mode.
 */
.mgnlEditorMainbarPreview {
  position: absolute;
  z-index: 900;
  top: 0pt;
  left: 0pt;
  margin: 0pt;
  padding: 2px 3px 0 3px;
  margin: 0px;
  height: 20px;
  background-color: transparent;
}

/*
 * Div carrying buttons.
 */
.mgnlEditorBarButtons {
  /* Some definitions for div containing bar buttons
   required to make it work in the footer. */
  float: right !important;
  width: auto !important;
    /* Ensure that labels and buttons share the available space on the bar in all circumstances. */
  margin: 0 !important;

  padding-top: 1px;
}

/*
 * Buttons on component and area edit bars.
 */
.mgnlEditorButton {
  height: 20px; /* have to give the height for all browsers to properly calculate it. */

  padding: 0 3px 0 3px;

  border-top: 1px solid #81a312;
  border-left: 1px solid #81a312;
  border-bottom: 1px solid #305000;
  border-right: 1px solid #305000;

  color: #F0F2E6;
  background-color: #487000;

  font-family: Verdana, sans-serif;
  font-size: 11px;
}

.mgnlRemoveButton {
  margin-right: 10px !important;
}

/* Buttons on page edit bar. */
.mgnlEditorMainbar button.mgnlEditorButton {
  padding: 1px 10px;
}

.mgnlEditorMainbarPreview button.mgnlEditorButton {
  padding: 1px 10px;
}

.mgnlEditorMainbar button.mgnlEditorButton-previewMenuButton {
  padding: 1px 8px;
}

/* Buttons on component edit bar. */
.mgnlEditorBar.component button.mgnlEditorButton {
  border-top: 1px solid #c1ea56;
  border-left: 1px solid #c1ea56;
  border-bottom: 1px solid #719302;
  border-right: 1px solid #719302;
  color: #004000;
  background-color: #91ba26;
}

.mgnlEditorMainbarPreview .mgnlEditorBarButtons {
  float: left !important;
}

/* Buttons of page edit bar. */
.mgnlEditorMainbar .mgnlEditorBarButtons {
  float: none !important;
}

/*
 * Visual feedback when interacting with bar buttons.
 */
button.mgnlEditorButton:hover {
  cursor: pointer;
}

button.mgnlEditorButton:active {
  border-top: 1px solid #305000;
  border-left: 1px solid #305000;
  border-bottom: 1px solid #81a312;
  border-right: 1px solid #81a312;
}

.mgnlEditorBar.component button.mgnlEditorButton:active {
  border-top: 1px solid #719302;
  border-left: 1px solid #719302;
  border-bottom: 1px solid #c1ea56;
  border-right: 1px solid #c1ea56;
}

/*
 * Label on bars showing name of component or area.
 */
.mgnlEditorBarLabel {
  width: auto !important;
    /* Ensure that labels and buttons share the available space on the bar in all circumstances. */
  margin: 0 0 0 2px !important;
    /* Move label a tad further in than buttons on the right, */
    /* but ensure that all other margins defined for labels are not applied. */

  font-family: Verdana, sans-serif;
  font-size: 11px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left !important; /* Ensure the label does not let buttons drop off the bar. */
}

.mgnlEditorOverlay {
  position: absolute;
}

/* --- End of edit bars definitions --- */
/* ----------------------------------
 * Definitions for edit place holders
 * ----------------------------------
 *
 * TODO: add "Editor" prefix for these defs as well (e.g. mgnlEditorPlaceHolder)
 */
.mgnlPlaceHolder.component {
  padding: 10px;
  border-radius: 7px;
  border: 2px solid #487000;
  background-color: #95E88E;
  cursor: pointer;
  clear: both;
}

.mgnlPlaceHolder.area {
  padding: 25px 15px;
  border: 2px solid #487000;
  border-radius: 0 0 15px 15px;
  background-color: #DEFCDC;
  cursor: pointer;
  clear: both;
}
.mgnlPlaceHolder.area.inactive {
  border-radius: 15px;

}
.mgnlPlaceHolder p {

}

/* --- End of edit place holder definitions --- */
/* -------------------------------
 *  Definitions for Mobile Preview
 * ------------------------------- */
/*
 * Preview menu button on page edit bar.
 */
.mgnlPreviewMenuDropdown { } /* not used now currently */

.mgnlPreviewMenuDropdown table {
  width: 95px !important; /* FIXME Pseudo-align dropdown with buttons above - this is inflexible and should be changed. */

  margin: -1px 0 0 0 !important;
  padding: 0;

  border-collapse: separate;
  border-spacing: 0px;

  border-top: 0;
  border-left: 1px solid #91BA26;
  border-right: 1px solid #305000;
}

.mgnlPreviewMenuPanel {
  z-index: 800;
}

.mgnlPreviewMenuItem {
  height: 14px;
  line-height: 11px;

  border-bottom: 1px solid #305000;

  background-color: #487000 !important;
  color: #F0F2E6 !important;
  text-align: right;

  font-family: Verdana, sans-serif;
  font-size: 11px;

  cursor: pointer;
}

.mgnlPreviewMenuItem-selected {
  background: #A1BF39 !important;
  color: #305000 !important;
}

.mgnlEditorButton-previewMenuButton {
  margin-right: 4px !important;
  border-left: 0px !important;

  background: center no-repeat url(../img/preview/down-arrow-white.gif);
  background-color: #487000;
  text-indent: -1000px; /* Ensure that the text on the button we need for aligning the button, is invisible. */
}

/*
 * Smartphone and tablet previews.
 */
.mgnlEditorPreviewBackground {
  background-color: #000;
  opacity: 0.3;
  filter: alpha(opacity = 30);
  z-index: 900;
}

.mobilePreview {
  z-index: 901;
  /*border-radius: 7px 7px 7px 7px;
    padding: 10px;
    background: gray;
  */
  cursor: pointer;
}

.mobilePreview.tabletLandscape {
  background: url(../img/preview/mobile/tablet/landscape.png) no-repeat;
  width: 1108px;
  height: 852px;
}

.mobilePreview.tabletLandscape .popupContent {
  position: absolute;
  top: 120px;
  left: 42px;
  width: 1024px;
  height: 690px;
}

.mobilePreview.tabletPortrait {
  background: url(../img/preview/mobile/tablet/portrait.png) no-repeat;
  width: 852px;
  height: 1108px;
}

.mobilePreview.tabletPortrait .popupContent {
  position: absolute;
  top: 120px;
  left: 42px;
  height: 946px;
  width: 768px;
}

.mobilePreview.smartphoneLandscape {
  background: url(../img/preview/mobile/smartphone/landscape.png)
    no-repeat;
  width: 752px;
  height: 461px;
}

.mobilePreview.smartphoneLandscape .popupContent {
  position: absolute;
  top: 112px;
  left: 130px;
  width: 480px;
  height: 210px;
}

.mobilePreview.smartphonePortrait {
  background: url(../img/preview/mobile/smartphone/portrait.png) no-repeat;
  width: 393px;
  height: 756px;
}

.mobilePreview.smartphonePortrait .popupContent {
  position: absolute;
  top: 213px;
  left: 32px;
  width: 320px;
  height: 356px;
}

.mobilePreviewIframe {
  border: none;
  width: 100%;
  height: 100%;
  background: center no-repeat url(../img/preview/mobile/loading.gif);
}

/* --- End of mobile preview definitions --- */