/*
* Paragraph/component edit bar.
*/
div.mgnlEditBar, div.mgnlEditBar_PUSHED, div.mgnlEditBar_MOUSEOVER {
    border-top: 1px solid #ADC97B !important;
    border-left: 1px solid #ADC97B !important;
    border-bottom: 1px solid #396101 !important;
    border-right: 1px solid #396101 !important;
    background-color: transparent !important;
    background-image: url("../img/mgnl-bar.png") !important;
    background-repeat: repeat !important;
    padding: 0px !important;
    width: 100% !important;
    height: 20px !important; /*TODO set this height else on FF default buttons height screws up layout*/
    margin: 0px !important;
}

/*
* Paragraph/component buttons.
*/
button.mgnlControlButton {
    height: 18px;
    padding: 2px!important;
    margin: 1px 1px 0px 1px;
    background-color: transparent;
    border-color: #ADC97B #396101 #396101 #ADC97B;
    border-style: solid;
    border-width: 1px;
    line-height: 10px; /*FF needs it*/
}

button.mgnlControlButton_PUSHED {
    height: 18px;
    padding: 2px !important;
    background-color: #86AC41 !important;
    border-color: #396101 #396101 #ADC97B #ADC97B;
    border-style: solid;
    border-width: 1px;
}


/*
* Area/component edit bar.
*/
.mgnlAreaEditBar {
    background-color: #6BABFB;
    height: 20px;
    width: 100% !important;
    clear: both;
}

/*
* Paragraph/area buttons.
*/
.mgnlAreaEditBar, .mgnlAreaEditBar button.mgnlControlButton {
    border-color: #B6D6FE #36567E #36567E #B6D6FE;
    border-style: solid;
    border-width: 1px;
}

.mgnlAreaEditBar button.mgnlControlButton_PUSHED {
    background-color: #7BABFF !important;
    border-color: #36567E #36567E #B6D6FE #B6D6FE;
    border-style: solid;
    border-width: 1px;
}


/*
* Area label.
* TODO maybe the properties to avoid long text breaking the layout (float, overflow, width, text-overflow) should be hardcoded into GWT code?
*/
.mgnlAreaLabel {
    background: transparent none !important;
    float: left;
    font-family: Verdana, sans-serif !important;
    font-size: 12px;
    color: #F0F2E6 !important;
    white-space: nowrap;
    margin-top: 2px !important;
    margin-left: 2px !important;
    padding: 0px !important;
    overflow: hidden;
    width: 30% !important;
    text-overflow: ellipsis; /*FF does not support this. Maybe it will in version 7*/
}
