html {
    background: #FAFBF4;
}

body {
    background: #FAFBF4;
    color: #000;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin: 0 10%;
    padding: 20px;
    font-size: 9pt;
}

a {
    color: #669900;
}

h2 {
    padding: 0;
    margin: 0;
    font-weight: normal;
    color: #669900;
    font-size: 14pt;
}

label,input {
    display: block;
    width: 150px;
    float: left;
    margin-bottom: 10px;
}

label {
    text-align: right;
    width: 75px;
    padding-right: 15px;
    padding-top: 4px;
    clear: both;
}

.page {
    width: 580px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #adbc61;
    background: white;
}

#logo {
    width: 580px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    margin: 0;
    padding: 20px;
    height: 40px;
}

#footer {
    width: 580px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    line-height: 1.3em;
}

#lock {
    float: left;
    margin-right: 20px;
}

#header h1 {
    margin: 3px 0 0 0;
    padding: 0;
    font-size: 26pt;
    font-weight: normal;
    color: #4d4d4d;
}

#footer, #footer a {
    margin-top: 3px;
    text-align: center;
    font-size: 9px;
    font-family: Verdana;
    color: #aaa;
}

#content {
    padding: 20px 20px 20px 20px;
    margin: 0;
    font-weight: normal;
    height: 100px;
}

#error {
    text-align: center;
    clear: both;
    color: #993333;
    margin-top: -10px;
    margin-bottom: 10px;
}

#form {
    margin-left: auto;
    margin-right: auto;
    width: 280px;
}

#submitButton {
    width: 75px;
}