<?xml version="1.0" encoding="UTF-8"?>
<document>
	<properties>
		<title>Menu</title>
	</properties>
	<body>
		<section name="Customize Menu">
			<p>
				You can easely customize the menu through configuration.
				Simply give read access to users who can see a menu item, or 
				deny read access if you wish to hide a menu item.<br/>
				<img src="../images/menu.png" />
			</p>
		</section>
	</body>
</document>