@import "../runo/styles.css";

/*.v-table-body {
	overflow-y: scroll !important;
}
*/

.v-table-row,.v-table-row-odd {
    height: 30px; /* a fix for TreeTable row jittering */
}

.m-vtabsheet-canvas {
	background-color: #dddddd;
}

.v-panel-nocaption-vtabsheet-selectedtab {
	display:none;
}
.v-panel-captionwrap-vtabsheet-selectedtab {
	display:none;
}
.v-panel-content-vtabsheet-selectedtab {
	background-color: #dddddd;
	border:0;
}
.v-panel-deco-vtabsheet-selectedtab {
	display:none;
}

.v-panel-nocaption-vtabsheet-tab {
	display:none;
}
.v-panel-captionwrap-vtabsheet-tab {
	display:none;
}
.v-panel-content-vtabsheet-tab {
	background-color: white;
	border:0;
}
.v-panel-deco-vtabsheet-tab {
	display:none;
}
.m-workbench-header {
	border-top: 1px solid #B6BBBC;
}
.m-search-box {
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding-left: 10px !important;
}

.v-treetable-treespacer{
	float: left;
	margin-top: 2px;
}

.v-table-cell-wrapper img{
    float: left;
    margin-top: 2px;
    margin-right: 5px;
}