@import "../chameleon/styles.css";
@import "../magnolia-ui-vaadin-components/collapser.css";
@import "../magnolia-ui-vaadin-components/melodion.css";
@import "../magnolia-ui-vaadin-components/rack.css";

/* Application background */
.v-app {
  background: rgb(255, 255, 255);
}

.v-window,.v-popupview-popup,.v-filterselect-suggestpopup,.v-datefield-popup,.v-contextmenu,.v-Notification,.v-menubar-submenu {
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, .85);
}

body.v-ie6 .v-window,body.v-ie7 .v-window,body.v-ie6 .v-popupview-popup,body.v-ie7 .v-popupview-popup,body.v-ie6 .v-filterselect-suggestpopup,body.v-ie7 .v-filterselect-suggestpopup,body.v-ie6 .v-datefield-popup,body.v-ie7 .v-datefield-popup,body.v-ie6 .v-contextmenu,body.v-ie7 .v-contextmenu,body.v-ie6 .v-menubar-submenu,body.v-ie7 .v-menubar-submenu,.v-panel-content,.v-panel-bubble .v-panel-captionwrap,.v-panel-bubble .v-panel-deco-bubble,.v-tabsheet-content,.v-tabsheet-tabitem-selected,.v-slider-base,.v-window-modalitycurtain,.v-window-opaque,.v-progressindicator-wrapper,.v-accordion-item-caption,.v-accordion-item-open .v-accordion-item-caption:active,.v-accordion-opaque div.v-accordion-item-open,.v-table-scrollposition,.v-table-body
  {
  background-color: rgb(255, 255, 255);
}

/* Base font size and color */
.v-app,.v-window,.v-popupview-popup,.v-app input,.v-app button,.v-app textarea,.v-window input,.v-window button,.v-window textarea,.v-popupview-popup input,.v-popupview-popup button,.v-popupview-popup textarea,.v-filterselect-suggestpopup,.v-datefield-popup,.v-datefield-calendarpanel-header button,.v-contextmenu,.v-Notification,.v-menubar-submenu,.v-table-header-drag,.v-filterselect-select-button .v-filterselect-input,.v-drag-element
  {
  font-size: 12px;
  color: rgb(71, 71, 71);
}

.v-app select,.v-window select,.v-popupview-popup select,.v-datefield-popup select {
  font-size: 12px;
}

.v-label,.sidebar-menu .v-label,.v-table-scrollposition {

}

/* Base background color */
.v-button:active,.v-ie .v-button.v-pressed,div.v-button-down,.v-slider .v-slider-handle-active {
  background-color: rgb(122, 122, 122);
  border-color: rgb(78, 78, 78);
}

div.v-button-down:active {
  background-color: rgb(98, 98, 98);
}

.v-button:focus {
  background-color: rgb(122, 122, 122);
}

/* Base border color */
.v-button:active .v-button-wrap,.v-ie .v-button.v-pressed .v-button-wrap,.v-button-down .v-button-wrap,.v-datefield-calendarpanel-header td,.v-slider-base,.v-tabsheet-scrollerNext,.v-tabsheet-scrollerNext-disabled,.v-tabsheet-scrollerNext-disabled:active,.v-table-header-wrap,.v-table-body,.v-table-resizer,div.v-table-focus-slot-left,div.v-table-focus-slot-right,input.v-textfield,textarea.v-textarea,.v-filterselect
  {
  border-color: rgb(98, 98, 98);
}

input.v-textfield,textarea.v-textarea,.v-filterselect {
  border-bottom-color: rgb(122, 122, 122);
  border-left-color: rgb(122, 122, 122);
  border-right-color: rgb(122, 122, 122);
}

.v-button,.v-disabled.v-button:focus,.v-disabled.v-button:active,.v-datefield-button,.v-datefield-calendarpanel-header button,td.v-datefield-calendarpanel-month,.v-datefield-calendarpanel-weekdays strong,.v-slider-handle,.v-table-header-wrap,.v-table-header-drag,.v-filterselect-prevpage-off,.v-filterselect-nextpage-off,.v-filterselect-prevpage,.v-filterselect-nextpage,.v-filterselect-select-button,.v-splitpanel-hsplitter,.v-splitpanel-vsplitter,.v-splitpanel-hsplitter-locked,.v-splitpanel-vsplitter-locked,.v-accordion-opaque,.v-accordion-opaque .v-accordion-item-open,.v-accordion-opaque .v-accordion-item-caption,.v-accordion-opaque .v-accordion-item-open .v-accordion-item-caption:active,.v-tabsheet-scroller,.v-csslayout-toolbar,.v-menubar
  {
  background-color: rgb(153, 153, 153);
  border-color: rgb(98, 98, 98);
}

.v-button .v-button-wrap,.v-disabled.v-button:focus .v-button-wrap,.v-disabled.v-button:active .v-button-wrap,.v-datefield-calendarpanel-header button,td.v-datefield-calendarpanel-month,.v-window-wrap,.v-popupview-popup,.v-filterselect-suggestpopup,.v-datefield-popup,.v-contextmenu,.v-menubar-submenu,.v-panel-bubble .v-panel-caption-bubble,.v-slider-handle,.v-tabsheet-tabitem-selected .v-caption,.v-table-header-wrap,.v-table-header-drag,.v-filterselect-prevpage-off,.v-filterselect-nextpage-off,.v-filterselect-prevpage,.v-filterselect-nextpage,.v-filterselect-select-button,.v-progressindicator-indicator,.v-accordion-item-caption,.v-accordion-item-open .v-accordion-item-caption:active,.v-tabsheet-scroller,.v-csslayout-toolbar,.v-menubar
  {

}

.v-datefield-calendarpanel-weekdays strong,.v-splitpanel-hsplitter-small,.v-splitpanel-vsplitter-small,.v-splitpanel-hsplitter-small-locked,.v-splitpanel-vsplitter-small-locked
  {
  background-color: rgb(122, 122, 122);
}

.v-progressindicator-wrapper {
  border-color: rgb(122, 122, 122);
}

.v-button,.v-disabled.v-button:focus,.v-disabled.v-button:active,.v-datefield-calendarpanel-header button,td.v-datefield-calendarpanel-month,.v-tabsheet-tabitem-selected .v-caption,.v-window-header,.v-table-caption-container,.v-accordion-item-caption,.v-menubar .v-menubar-menuitem,.v-filterselect-select-button .v-filterselect-input
  {
  text-shadow: 0 1px 0 rgb(194, 194, 194);
}

/* Background border color */
.v-window,.v-popupview-popup,.v-filterselect-suggestpopup,.v-datefield-popup,.v-contextmenu,.v-Notification,.v-menubar-submenu,.v-panel-caption,.v-panel-nocaption,.v-panel-content,.v-panel-deco,.v-panel-light .v-panel-caption-light,.v-panel-bubble .v-panel-captionwrap,.v-panel-bubble .v-panel-content-bubble,.v-panel-bubble .v-panel-deco-bubble,.v-tabsheet-tabitem-selected,.v-tabsheet-tabitem,.v-tabsheet-spacertd div,.v-tabsheet-content,.v-tabsheet-deco,.v-slider,.v-splitpanel-hsplitter,.v-splitpanel-vsplitter,.v-splitpanel-hsplitter-locked,.v-splitpanel-vsplitter-locked,.v-table-scrollposition,.v-accordion,.v-accordion-item-caption,.v-accordion-item-open,.v-menubar-separator span
  {
  border-color: rgb(204, 204, 204);
}

/* Alternate colors */
.v-label-color,.v-button-link,.v-button-link:focus,.v-button-link:active,.v-disabled.v-button-link,.v-disabled.v-button-link:focus,.v-app a,.v-popupview-popup a,.v-popupview,.sidebar-menu .v-label
  {
  color: rgb(201, 231, 161);
}

.v-button-default,.v-disabled.v-button-default,.v-disabled.v-button-default:focus,.v-button-default:active,.v-ie7 .v-button-default.v-pressed,.v-ie8 .v-button-default.v-pressed,.sidebar-menu .tab-selected,.sidebar-menu .selected,.v-horizontallayout-segment-alternate .v-button-down
  {
  border-color: rgb(132, 148, 111);
}

.v-button-default:focus,.v-horizontallayout-segment-alternate .v-button-down:active {
  background-color: rgb(163, 185, 134);
}

.v-button-default:active .v-button-wrap,.v-ie7 .v-button-default.v-pressed .v-button-wrap,.v-ie8 .v-button-default.v-pressed .v-button-wrap,.v-progressindicator-indicator,.v-datefield-calendarpanel-day:hover,.v-horizontallayout-segment-alternate .v-button-down .v-button-wrap
  {
  border-color: rgb(163, 185, 134);
}

.v-button-default,.v-disabled.v-button-default,.v-disabled.v-button-default:focus,.v-button-default:active,.v-ie7 .v-button-default.v-pressed,.v-ie8 .v-button-default.v-pressed,.v-panel-bubble .v-panel-caption,.v-datefield-calendarpanel-day-selected,.v-table tr.v-selected,.v-contextmenu .gwt-MenuItem-selected,.v-contextmenu .gwt-MenuItem-selected div,.v-filterselect-suggestpopup .gwt-MenuItem-selected,.v-progressindicator-indicator,.v-tree-node-selected span,.sidebar-menu .tab-selected,.sidebar-menu .selected,.v-horizontallayout-segment-alternate .v-button-down,.v-menubar .v-menubar-menuitem-selected,.v-menubar-submenu .v-menubar-menuitem-selected
  {
  background-color: rgb(201, 231, 161);
  color: rgb(64, 94, 31);
  text-shadow: 0 1px 0 rgb(231, 241, 219);
}

.v-ie6 .v-progressindicator-indicator {
  background-color: rgb(201, 231, 161);
}

.v-panel-caption,.v-table-striped .v-table-row-odd,.sidebar-menu {
  background: rgb(244, 247, 240);
}

.sidebar-menu .tab-selected,.sidebar-menu .selected {
  text-shadow: 0 1px 0 rgb(163, 185, 134);
}

.v-csslayout-toolbar {
  border-width: 1px;
}

.v-table-cell-wrapper {
  overflow-x: hidden;
}

input.v-textfield-search[type="text"] {
  float: right;
}

input.v-textfield-search[type="text"]:focus {

}

.m-embedded-view {
  border-top: 1px solid #B6BBBC;
  border-left: 1px solid #B6BBBC;
}

/**
* FIXME this is a hack to show the label which is a div inline with the preceding icons. It probably breaks on IE as it uses inline-block.
*/
.m-inline-div {
  display: inline-block;
}

.v-splitpanel-second-container {

}

.sidebar-view, .sidebar-view>.v-csslayout-margin, .sidebar-view>.v-csslayout-margin>.v-csslayout-container {
  height: 100%;
}

.workbench-view>.v-csslayout-margin, .workbench-view>.v-csslayout-margin>.v-csslayout-container, .workbench-view-inner>.v-csslayout-margin, .workbench-view-inner>.v-csslayout-margin>.v-csslayout-container {
  width: 100%;
  height: 100%;
}

.workbench-view .v-table {
  height: 100% !important;
}

.workbench-view .v-table>* {
  width: 100% !important;
}

.v-csslayout-toolbar {
  position: absolute;
  width: 100%;
}

.workbench-view {
  position: relative;
}

.workbench-view-inner {
  box-sizing: border-box;
  padding-top: 33px;
}

.v-panel-scroll, .v-panel-content-scroll {
  height: 100%;
}