
.mgnlAdminCentralButton,.mgnlAdminCentralButton_PUSHED
	{
	margin-bottom:4px;
    font-size:11px;
	height:30px;
	text-align:left;
	padding-left:5px;
	padding-top:5px;
    font-family:Verdana, sans-serif;
    color:#000000;
	cursor:default;
	}


.mgnlAdminCentralButtonTransparent,.mgnlAdminCentralButtonTransparentSmall
	{
	background:transparent;
	}


.mgnlAdminCentralButton_PUSHED
	{
    background-color:#D0E079;
    background-color:#e0e0e0;
	}

div.mgnlAdminCentralButtonsDiv
	{
	position:absolute;
	left:20px;
	top:101px;
	height:400px;
	width:165px;
	overflow:auto;
	visibility:visible;
	padding-top:3px;
	padding-bottom:4px;
	border-style:solid;
	border-width:1px;
	border-top-color:#999999;
  border-left-color:#999999;
	border-bottom-color:#CCCCCC;
	border-right-color:#CCCCCC;
	}

div.mgnlAdminCentralExtractTreeDiv
	{
	position:absolute;
	left:200px;
	top:80px;
	width:800px;
	height:400px;
	display:block;
 	}

div.mgnlAdminCentralExtractNonTreeDiv
	{
	position:absolute;
	left:200px;
	top:101px;
	width:800px;
	height:400px;
	visibility:hidden;
	display:none;
	border-style:solid;
	border-width:1px;
	border-top-color:#999999;
    border-left-color:#999999;
	border-bottom-color:#CCCCCC;
	border-right-color:#CCCCCC;
	}

