<?xml version="1.0" encoding="UTF-8"?>
<document>
    <properties>
        <title>Configurating Magnolia</title>
    </properties>
    <body>
    	<section name="Configurating Magnolia">
    		<p>
    			One of the first things you want to start to configure is "Activation". Activation means setting up the process
    			to push content from one repository to the other.<br/>
    		</p>
    		<p>
    			Before starting to configure "Activation", it is important to understand the concept of instances, which
    			is an essentual part of Magnolia. So start by reading '<a href="instances.html">Concept of Instances</a>'.
    			This should help you answer questions like "Why aren't my Web pages online?" and similar.
    		</p>    		
    	</section>
    </body>
</document>