ul.level-1,ul.level0 {
	position: absolute;
	left: 15px;
	top: 88px;
	margin-left: 0;
	padding-left: 0;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
}

ul.level-1,ul.level0,ul.level1 {
	width: 175px;
	padding: 0 0 0 0;
	list-style-type: none;
	list-style-position: inside;
	margin-left: 0;
}

ul.level0 li a,ul.level-1 li a {
	padding-bottom: 2px;
	padding-top: 2px;
	color: #333;
	text-decoration: none;
	display: block;
}

ul.level-1 li a,ul.level0 li a {
	padding-left: 2px;
	font-weight: bold;
	color: #538307;
}

ul ul.level1 li a {
	padding-left: 10px;
	font-weight: normal;
}

ul.level0 strong a,ul.level-1 strong a {
	color: #538307;
	background-color: #E5F973;
	text-decoration: none;
}

ul ul.level1 strong a {
	font-weight: normal;
}