td.mgnlCalendar,td.mgnlCalendarHi,td.mgnlCalendarHeader,td.mgnlCalendarOver {
	padding: 4px;
}

td.mgnlCalendarOver {
	cursor: default;
	background-color: #F2FAC5;
}

td.mgnlCalendarHi {
	cursor: default;
	background-color: #E1F56F;
}