.collapser .collapsed-content .v-label {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  padding: .6em .9em;
}

.collapser {
  position: relative;
  height: 100%;
}

.v-csslayout-collapser>.v-csslayout-margin {
  margin-left: 9px;
}

.collapser .v-csslayout-margin,.collapser .v-csslayout-container {
  height: 100%;
}

.collapser .expanded-content {
  height: 100%;
  overflow: auto;
}

.collapser .collapsed-content {
  height: 100%;
  overflow: hidden;
}

.collapser.collapsed {
  float: right;
  width: 29px;
}

.collapser .collapsed-content {
  float: right;
  width: 20px;
}

.collapser .v-nativebutton-collapse {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 9px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.v-ff .collapser .v-nativebutton-collapse {
  border-width: 1px;
  border-color: #8E8E87;
  border-style: solid;
}

.v-ff .collapser .v-nativebutton-collapse span {
  margin-left: -2px;
}

.collapser .v-nativebutton-collapse .v-nativebutton-caption {
  font-size: 9px;
}