.rack .v-label {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  padding: .6em .9em;
}

.rack .v-button-action {
  width: 100%;
  text-align: left;
}

.rack .v-disclosure .v-csslayout-margin {
  padding: 0;
  padding-top: 0;
  padding-bottom: 1.2em;
}

.rack .v-disclosure>.v-csslayout-margin {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 12px;
  padding-right: 1px;
}

.rack .close {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  -khtml-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  float: right;
  width: 14px;
  height: 15px;
  overflow: hidden;
  text-indent: -50px;
  background: transparent url(../chameleon/img/close-btn.png) no-repeat 0 0;
  vertical-align: middle;
  padding: 0;
  box-sizing: content-box;
  margin: 2px 0 0 0;
}

.v-sa5 .rack .close {
  margin-right: 10px;
}

.rack .close:hover {
  background-position-y: -25px;
}

.rack .close:active {
  background-position-y: -50px;
}

.rack .v-filterselect {
  width: 100% !important;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}