<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">>
    <!--
        fail-safe configuration loaded before the "real" log4j configuration done in intializer
        allows to output messages before initialization
    -->
    <!--  debug appender, write to stdout -->
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value="%-5p  %c %F(%M:%L) %d{dd.MM.yyyy HH:mm:ss}  %m%n" />
        </layout>
    </appender>
    <category name="org">
        <priority value="WARN" />
    </category>
    <category name="com">
        <priority value="WARN" />
    </category>
    <category name="info.magnolia.cms.servlets.MgnlServletContextListener">
        <priority value="DEBUG" />
    </category>
    <root>
        <priority value="INFO" />
        <!-- <priority value="ALL" />-->
        <appender-ref ref="console" />
    </root>
</log4j:configuration>