html {
    background: #FAFBF4;
}

body {
    background: #FAFBF4;
    color: #000;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin: 0 10%;
    padding: 20px;
    font-size: 9pt;
}

a {
    color: #669900;
}

h2, h3, h4 {
    padding: 0;
    margin: 0;
    font-weight: normal;
}

h2 {
    color: #669900;
    font-size: 14pt;
}

h3 {
    font-size: 12pt;
}

#page {
    margin-top: 15px;
    border: 1px solid #adbc61;
    background: white;
}

#header {
    margin: 0;
    padding: 20px;
    height: 40px;
    background: white url(${contextPath}/.resources/images/moduleManagerUI/backgroundBar.gif) repeat-x;
}

#header h1 {
    margin: 3px 0 0 0;
    padding: 0;
    font-size: 26pt;
    font-weight: normal;
    color: #4d4d4d;
}

#footer, #footer a{
    margin: 3px 0 0 0;
    padding: 0;
    text-align: center;
    font-size: 9px;
    font-family: Verdana;
    color: #aaa;
}

#content {
    padding: 10px 20px 20px 20px;
    margin: 0;
    font-weight: normal;
}

#content h2 {
    margin: 20px 0 10px 0;
}

#progress {
    margin-left: 20px;
}

#actions {
    margin-left: 20px;
}

#softwareIcon {
    float: left;
    margin-right: 20px;
}

.button {
    color: #4d4d4d;
    font-size: 22px;
    text-decoration: none;
    float: right;
    margin: 30px 0 0 0;
    padding: 14px 0 32px 20px;
    width: 306px;
    background-repeat: no-repeat;
}

#buttonStart {
    background-image: url(${contextPath}/.resources/images/moduleManagerUI/buttonStartBackground.png);
}

#buttonGo {
    padding-right: 100px;
    background-image: url(${contextPath}/.resources/images/moduleManagerUI/buttonGoBackground.png);
}

#buttonRefresh {
    display: block;
    margin-bottom: 10px;
}

.module {
    background-color: #F6F6F6;
    padding: 10px;
    margin-bottom: 10px;
}

.module h3 {
    background: url(${contextPath}/.resources/images/moduleManagerUI/component_preferences.gif) no-repeat;
    padding: 5px 0 0 30px;
}

.module a {
    font-weight: normal;
}

.delta {
    border-top: 1px solid #e0e0e0;
    padding: 8px 0 0 0;
    margin: 5px 0 0 0;
}

/*
.delta .install {
    color: green;
}

.delta .update {
    color: purple;
}
*/

.deltaDescription {
    margin-top: 10px;
    color: #6c6c6c;
}

.deltaDetailsLink {
    padding-left: 0.5em;
    font-size: 9pt;
}

.executedTaskCount, .totalTaskCount {
    font-weight: bold;
}

.tasks, .conditions {
    padding-left: 33px;
}

.task, .condition, .message {
    list-style-type: none;
    list-style-position: outside;
    list-style-image: url(${contextPath}/.resources/images/moduleManagerUI/listItem.gif);
    margin: 0 0 5px 0;
    padding-left: 0;
    font-size: 9pt;
	white-space: pre-wrap;
}

.condition {
    color: #990000;
}

.taskDescription, .conditionDescription {
    color: #666;
    margin-left: 0.5em;
}

.messages .error {
    background-color: #ffcccc;
    color: #cc0000;
    font-weight: bold;
}

.status {
    display: block;
    margin: 30px 0 10px 0;
}
