body.mgnlAdminMain {
	overflow: hidden;
}

#mgnlAdminCentralMessageBoxDiv {
	position: absolute;
    text-align: center;
    padding-top: 9px;
    font-family: verdana;
    font-size: 10px;
    border-top:1px solid #ccc;
    height: 37px;
    width: 100%;
    visibility: hidden;
    bottom: 0px;
}

div.messageBoxError {
	background-color: #FFD0DC;
}

div.messageBoxWarn {
	background-color: #F6D082;
}

div.messageBoxInfo {
    background-color: #EBEEDE;
}

div.mgnlAdminCentralMenuDiv {
	position: absolute;
	left: 20px;
	top: 60px;
	height: 400px;
	width: 165px;
	overflow: auto;
	visibility: visible;
	border-style: solid;
	border-width: 1px;
	border-top-color: #999;
	border-left-color: #999;
	border-bottom-color: #ccc;
	border-right-color: #ccc;
}

div.mgnlAdminCentralContentDiv {
	position: absolute;
	left: 195px;
	top: 60px;
	width: 800px;
	height: 400px;
	visibility: hidden;
	display: none;
	border-style: solid;
	border-width: 1px;
	border-top-color: #999;
	border-left-color: #999;
	border-bottom-color: #ccc;
	border-right-color: #ccc;
}

#mgnlAdminCentralFooterDiv {
	position: absolute;
	left: 195px;
	top: 60px;
	width: 800px;
	height: 18px;
	font-size: 9px;
}

#mgnlAdminCentralFooterDiv,#mgnlAdminCentralFooterDiv a {
	color: #AAAAAA;
}