div.mgnlFunctionBar{
    background-color: #EBEEDE;
    padding:2px;
    font-family: verdana;
    font-size: 10px;
    border: 1px solid;
    border-left-color: #999;
    border-top-color:#ccc;
    border-bottom-color: #ccc;
    border-right-color: #ccc;
    height: 42px;
}

input.queryField {
    border-top: 1px #999999 solid;
    border-bottom: 1px #CCCCCC solid;
    border-left: none;
    border-right: none;
    height: 20px;
    font:11px verdana, arial, helvetica, sans-serif;
    z-index:1;
}

div.mgnlFunctionBar td.separator {
    border-left: 1px solid #B2B2B2 !important;
    width:10px;
}

td.mgnlFunctionBarButton {
    padding: 0 15px 0 5px;
    text-align: center;
}

td.mgnlFunctionBarButton a {
    padding: 2px;
    font-size: 10px;
    cursor: pointer;
    display: table-cell;
    text-decoration: none;
    color: black;
}

td.mgnlFunctionBarButton a:hover {
    text-align: center;
    font-size: 10px;
    cursor: pointer;
    /*background-color: #FBFEEE;*/
    display: table-cell;
    text-decoration: none;
    color: black;
}

/* inactive stuff */
td.mgnlFunctionBarButtonInactive {
    padding: 0 15px 0 5px;
    text-align: center; 
}

td.mgnlFunctionBarButtonInactive a {
    padding: 2px;
    text-align: center;
    font-size: 10px;
    cursor: default;
    color: gray;
    display: table-cell;
    text-decoration: none;
}
