#mgnl h3 {
    border-bottom: 1px solid #9DB517;
}

#mgnl .formelement {
    height: 24px;
}

#mgnl .formelement label {
    width: 200px;
    float: left;
    clear: left;
}

#mgnl .formelement input.text {
    width: 400px;
    clear: right;
}

#mgnl .pageframe {
    background-color: #fff;
    margin: 20px;
    padding: 10px;
    border: 1px solid #9DB517;
}