html {
    background: #FFF;
}

body {
    background: #FAFBF4;
    color: #000;
    font-family: Georgia, "Times New Roman", Times, serif;
    padding: 0;
    font-size: 9pt;
    margin: 0;
}

a {
    color: #669900;
}

a img {
    margin: 0 0 -2px 0;
    padding: 0;
    border: 0;
}

p {
    padding-left: 15px;
    padding-right: 15px;
}

h2 {
    padding: 0;
    margin: 25px 15px 15px 15px;
    font-weight: normal;
    color: #669900;
    font-size: 14pt;
}

li {
    list-style-type: none;
    list-style-position: outside;
    list-style-image: url(../admin-images/listItem.gif);
    margin: 0 0 5px 0;
    padding-left: 0;
    font-size: 9pt;
}

.page {
    padding: 0;
    border: 2px solid #669900;
    background: white;
}

#header {
    margin: 0;
    padding: 20px;
    height: 40px;
    background: white url(../admin-images/backgroundBar.gif) repeat-x;
}

#footer {
    margin: 0;
    padding: 0;
}

#signpost {
    float: left;
    margin-right: 20px;
}

#header h1 {
    margin: 3px 0 0 0;
    padding: 0;
    font-size: 26pt;
    font-weight: normal;
    color: #4d4d4d;
}

#footer,#footer a {
    margin-top: 3px;
    text-align: center;
    font-size: 9px;
    font-family: Verdana;
    color: #aaa;
}

#content {
    padding: 0;
    margin: 0;
    font-weight: normal;
}

div.options {
    margin: 25px 35px 0 35px;
    padding: 0;
    float: left;
}

div.option {
    background-color: #F6F6F6;
    padding: 10px;
    width: 370px;
    height: 200px;
    float: left;
}

div.option p {
    height: 10ex;
}

div#stk {
    margin-right: 30px;
}

div.option h3 {
    margin: 10px 0 10px 0;
}

ul.links {
    margin: 0 0 3em 20px;
}

.instanceLogo {
    float: left;
    margin-right: 20px;
    margin-bottom: 100px;
}

p.note {
    font-size: 0.95em;
    line-height: 1.3em;
    color: grey;
}

p.note span {
    margin-left: -10px;
}

span.note {
    color: grey;
    margin-left: 1px;
}

#installationNote {
    margin: -10px 0 25px 12px;
}