<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4"
    id="WebApp">
    <display-name>magnolia</display-name>
    <description>magnolia 2.0</description>
    <filter>
        <description></description>
        <display-name>ContentTypeFilter</display-name>
        <filter-name>ContentTypeFilter</filter-name>
        <filter-class>info.magnolia.cms.filters.ContentTypeFilter</filter-class>
    </filter>
    <filter>
        <description></description>
        <display-name>MultipartRequestFilter</display-name>
        <filter-name>MultipartRequestFilter</filter-name>
        <filter-class>info.magnolia.cms.filters.MultipartRequestFilter</filter-class>
        <init-param>
            <param-name>LocalStore</param-name>
            <param-value>false</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>ContentTypeFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>MultipartRequestFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <description>Main config initializer</description>
        <display-name>magnolia initializer</display-name>
        <servlet-name>Initializer</servlet-name>
        <servlet-class>info.magnolia.cms.servlets.Initializer</servlet-class>
        <!--
            WARNING: starting from Magnolia 2.1 paths are relative to the root dir of the magnolia installation (or absolute)
        -->
        <init-param>
            <param-name>magnolia.cache.startdir</param-name>
            <param-value>cache</param-value>
        </init-param>
        <init-param>
            <param-name>magnolia.upload.tmpdir</param-name>
            <param-value>tmp</param-value>
        </init-param>
        <init-param>
            <param-name>magnolia.exchange.history</param-name>
            <param-value>history</param-value>
        </init-param>
        <init-param>
            <param-name>magnolia.repositories.config</param-name>
            <param-value>WEB-INF/config/repositories.xml</param-value>
        </init-param>
        <!--
            You can configure log4j by placing a log4j.properties or log4j.xml file in the classpath. By default you
            will find it in WEB-INF/classes. Refers to the log4j documentation for other details.
            <init-param>
            <param-name>log4j.properties</param-name>
            <param-value>../webapps/magnolia/WEB-INF/config/log4j.properties</param-value>
            </init-param>
        -->
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <description>The main CMS servlet</description>
        <display-name>magnolia</display-name>
        <servlet-name>magnolia</servlet-name>
        <servlet-class>info.magnolia.cms.servlets.EntryServlet</servlet-class>
    </servlet>
    <servlet>
        <description>Request interceptor servlet</description>
        <display-name>RequestInterceptor</display-name>
        <servlet-name>RequestInterceptor</servlet-name>
        <servlet-class>info.magnolia.cms.servlets.RequestInterceptor</servlet-class>
    </servlet>
    <servlet>
        <description>The resource dispatcher servlet</description>
        <display-name>magnolia</display-name>
        <servlet-name>ResourceDispatcher</servlet-name>
        <servlet-class>info.magnolia.cms.servlets.ResourceDispatcher</servlet-class>
    </servlet>
    <servlet>
        <description>Activation handler servlet</description>
        <display-name>magnolia</display-name>
        <servlet-name>ActivationHandler</servlet-name>
        <servlet-class>info.magnolia.cms.servlets.SimpleExchange</servlet-class>
    </servlet>
    <!--
        Use this servlet to spool static resources from the servlet context
        this servlet respects SecureURI mapping so if you want to have no authentication on static
        resources deny /docroot/* and /admindocroot/* from /config/server/SecureURI
    -->
    <servlet>
        <description>Spool servlet</description>
        <display-name>spool</display-name>
        <servlet-name>Spool</servlet-name>
        <servlet-class>info.magnolia.cms.servlets.Spool</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>magnolia</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>magnolia</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestInterceptor</servlet-name>
        <url-pattern>/RequestInterceptor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResourceDispatcher</servlet-name>
        <url-pattern>/ResourceDispatcher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivationHandler</servlet-name>
        <url-pattern>/ActivationHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Spool</servlet-name>
        <url-pattern>/docroot/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Spool</servlet-name>
        <url-pattern>/admindocroot/*</url-pattern>
    </servlet-mapping>
    <jsp-config>
        <taglib>
            <taglib-uri>cms-taglib</taglib-uri>
            <taglib-location>/WEB-INF/taglib/cms-taglib.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>cms-util-taglib</taglib-uri>
            <taglib-location>/WEB-INF/taglib/cms-util-taglib.tld</taglib-location>
        </taglib>
    </jsp-config>
</web-app>
