<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4"
    id="WebApp">
    <description>magnolia 2.1</description>
    <display-name>magnolia</display-name>
    <filter>
        <description></description>
        <display-name>ContentTypeFilter</display-name>
        <filter-name>ContentTypeFilter</filter-name>
        <filter-class>info.magnolia.cms.filters.ContentTypeFilter</filter-class>
    </filter>
    <filter>
        <description></description>
        <display-name>MultipartRequestFilter</display-name>
        <filter-name>MultipartRequestFilter</filter-name>
        <filter-class>info.magnolia.cms.filters.MultipartRequestFilter</filter-class>
        <init-param>
            <param-name>LocalStore</param-name>
            <param-value>false</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>ContentTypeFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>MultipartRequestFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <description>Main config initializer</description>
        <display-name>magnolia initializer</display-name>
        <servlet-name>Initializer</servlet-name>
        <servlet-class>info.magnolia.cms.servlets.Initializer</servlet-class>
        <!--
            WARNING: starting from Magnolia 2.1 paths can be relative to the root dir of the magnolia installation or absolute.
            Relative paths requires an expanded WAR.
        -->
        <init-param>
            <!--  cache directory -->
            <param-name>magnolia.cache.startdir</param-name>
            <param-value>cache</param-value>
        </init-param>
        <init-param>
            <!--  tmp directory for uploaded files -->
            <param-name>magnolia.upload.tmpdir</param-name>
            <param-value>tmp</param-value>
        </init-param>
        <init-param>
            <!--  history directory used for activation -->
            <param-name>magnolia.exchange.history</param-name>
            <param-value>history</param-value>
        </init-param>
        <init-param>
            <!--  repositories configuration -->
            <param-name>magnolia.repositories.config</param-name>
            <param-value>WEB-INF/config/repositories.xml</param-value>
        </init-param>
        <init-param>
            <!--
                Name of a log4j config file. Can be a .properties or .xml file.
                The value can be:
                - a full path
                - a path relative to the webapp root
                - a file name which will be loaded from the classpath
            -->
            <param-name>log4j.config</param-name>
            <param-value>WEB-INF/config/log4j.xml</param-value>
        </init-param>
        <!--
            Name of a system variable which will be set to the webapp root. You can use this property in log4j
            configuration files to handle relative paths, such as <code>${magnolia.root}logs/magnolia-debug.log</code>.
            Important: if you drop multiple magnolia wars in a container which doesn't isolate system properties
            (e.g. tomcat) you will need to change the name of the <code>magnolia.root.sysproperty</code> variable in
            web.xml and in log4j configuration files.
        -->
        <init-param>
            <param-name>magnolia.root.sysproperty</param-name>
            <param-value>magnolia.root</param-value>
        </init-param>
        <!--
            Directory containing xml files for initialization of a blank magnolia instance. If no content is found
            in any of the repository, they are initialized importing xml files found in this folder.
            If you don't want to let magnolia automatically initialize repositories simply remove this parameter.
        -->
        <init-param>
            <param-name>magnolia.bootstrap.dir</param-name>
            <param-value>WEB-INF/bootstrap</param-value>
        </init-param>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <description>The main CMS servlet</description>
        <display-name>magnolia EntryServlet</display-name>
        <servlet-name>magnolia</servlet-name>
        <servlet-class>info.magnolia.cms.servlets.EntryServlet</servlet-class>
    </servlet>
    <servlet>
        <description>Request interceptor servlet</description>
        <display-name>magnolia RequestInterceptor</display-name>
        <servlet-name>RequestInterceptor</servlet-name>
        <servlet-class>info.magnolia.cms.servlets.RequestInterceptor</servlet-class>
    </servlet>
    <servlet>
        <description>The resource dispatcher servlet</description>
        <display-name>magnolia ResourceDispatcher</display-name>
        <servlet-name>ResourceDispatcher</servlet-name>
        <servlet-class>info.magnolia.cms.servlets.ResourceDispatcher</servlet-class>
    </servlet>
    <servlet>
        <description>Activation handler servlet</description>
        <display-name>magnolia ActivationHandler</display-name>
        <servlet-name>ActivationHandler</servlet-name>
        <servlet-class>info.magnolia.cms.exchange.simple.SimpleExchangeServlet</servlet-class>
    </servlet>
    <servlet>
        <description>Admin interface tree servlet</description>
        <display-name>magnolia AdminTreeServlet</display-name>
        <servlet-name>AdminTreeServlet</servlet-name>
        <servlet-class>info.magnolia.module.admininterface.AdminInterfaceServlet</servlet-class>
    </servlet>
    <servlet>
        <description>ImportExportServlet</description>
        <display-name>magnolia ImportExportServlet</display-name>
        <servlet-name>ImportExportServlet</servlet-name>
        <servlet-class>info.magnolia.cms.servlets.ImportExportServlet</servlet-class>
    </servlet>
    <!--
        Use this servlet to spool static resources from the servlet context
        this servlet respects SecureURI mapping so if you want to have no authentication on static
        resources deny /docroot/* and /admindocroot/* from /config/server/SecureURI
    -->
    <servlet>
        <description>Spool servlet</description>
        <display-name>spool</display-name>
        <servlet-name>Spool</servlet-name>
        <servlet-class>info.magnolia.cms.servlets.Spool</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fileThumbnail</servlet-name>
        <servlet-class>info.magnolia.cms.gui.dialog.pages.FileThumbnailDialogPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>linkBrowser</servlet-name>
        <servlet-class>info.magnolia.cms.gui.dialog.pages.LinkBrowserDialogPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>linkBrowserIFrame</servlet-name>
        <servlet-class>info.magnolia.cms.gui.dialog.pages.LinkBrowserIFrameDialogPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>richEIFrame</servlet-name>
        <servlet-class>info.magnolia.cms.gui.dialog.pages.RichEditorIFrameDialogPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>standard</servlet-name>
        <servlet-class>info.magnolia.cms.gui.dialog.pages.StandardDialogPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>webDAVIFrame</servlet-name>
        <servlet-class>info.magnolia.cms.gui.dialog.pages.WebDavIFrameDialogPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userRoles</servlet-name>
        <servlet-class>info.magnolia.cms.gui.dialog.pages.UserRolesEditDialogPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user</servlet-name>
        <servlet-class>info.magnolia.cms.gui.dialog.pages.UserEditDialogPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>includeRoles</servlet-name>
        <servlet-class>info.magnolia.cms.gui.dialog.pages.UserEditIncludeRolesDialogPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>includeAcl</servlet-name>
        <servlet-class>info.magnolia.cms.gui.dialog.pages.UserRolesEditIncludeAclDialogPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>magnolia</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>magnolia</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestInterceptor</servlet-name>
        <url-pattern>/RequestInterceptor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResourceDispatcher</servlet-name>
        <url-pattern>/ResourceDispatcher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivationHandler</servlet-name>
        <url-pattern>/ActivationHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Spool</servlet-name>
        <url-pattern>/docroot/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Spool</servlet-name>
        <url-pattern>/admindocroot/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminTreeServlet</servlet-name>
        <url-pattern>/admintemplates/adminCentral/extractTree.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminTreeServlet</servlet-name>
        <url-pattern>/adminCentral/extractTree</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportExportServlet</servlet-name>
        <url-pattern>/export</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportExportServlet</servlet-name>
        <url-pattern>/import</url-pattern>
    </servlet-mapping>
    <!--
        dialogs -->
    <servlet-mapping>
        <servlet-name>fileThumbnail</servlet-name>
        <url-pattern>/admintemplates/dialogs/fileThumbnail.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>linkBrowser</servlet-name>
        <url-pattern>/admintemplates/dialogs/linkBrowser.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>linkBrowserIFrame</servlet-name>
        <url-pattern>/admintemplates/dialogs/linkBrowserIFrame.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>richEIFrame</servlet-name>
        <url-pattern>/admintemplates/dialogs/richEIFrame.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>standard</servlet-name>
        <url-pattern>/admintemplates/dialogs/standard.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>webDAVIFrame</servlet-name>
        <url-pattern>/admintemplates/dialogs/webDAVIFrame.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userRoles</servlet-name>
        <url-pattern>/admintemplates/adminCentral/dialogs/userRolesEdit/main.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user</servlet-name>
        <url-pattern>/admintemplates/adminCentral/dialogs/usersEdit/main.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>includeAcl</servlet-name>
        <url-pattern>/admintemplates/adminCentral/dialogs/userRolesEdit/includeAcl.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>includeRoles</servlet-name>
        <url-pattern>/admintemplates/adminCentral/dialogs/usersEdit/includeRoles.jsp</url-pattern>
    </servlet-mapping>
    <!-- end dialogs -->
    <jsp-config>
        <taglib>
            <taglib-uri>cms-taglib</taglib-uri>
            <taglib-location>/WEB-INF/taglib/cms-taglib.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>cms-util-taglib</taglib-uri>
            <taglib-location>/WEB-INF/taglib/cms-util-taglib.tld</taglib-location>
        </taglib>
    </jsp-config>
    <!--
        i18n configuration moved to the repository config:/server/i18n
    -->
</web-app>
