<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4" id="WebApp">
    <description>Magnolia</description>
    <display-name>magnolia</display-name>
    <filter>
        <description></description>
        <display-name>ContentTypeFilter</display-name>
        <filter-name>ContentTypeFilter</filter-name>
        <filter-class>info.magnolia.cms.filters.ContentTypeFilter</filter-class>
    </filter>
    <filter>
        <description></description>
        <display-name>MultipartRequestFilter</display-name>
        <filter-name>MultipartRequestFilter</filter-name>
        <filter-class>info.magnolia.cms.filters.MultipartRequestFilter</filter-class>
        <init-param>
            <param-name>LocalStore</param-name>
            <param-value>false</param-value>
        </init-param>
    </filter>
    <filter>
        <description></description>
        <display-name>SecurityFilter</display-name>
        <filter-name>SecurityFilter</filter-name>
        <filter-class>info.magnolia.cms.filters.SecurityFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ContentTypeFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>MultipartRequestFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SecurityFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <description>The main CMS servlet</description>
        <display-name>magnolia EntryServlet</display-name>
        <servlet-name>magnolia</servlet-name>
        <servlet-class>info.magnolia.cms.servlets.EntryServlet</servlet-class>
    </servlet>
    <servlet>
        <description>Request interceptor servlet</description>
        <display-name>magnolia RequestInterceptor</display-name>
        <servlet-name>RequestInterceptor</servlet-name>
        <servlet-class>info.magnolia.cms.servlets.RequestInterceptor</servlet-class>
    </servlet>
    <servlet>
        <description>The resource dispatcher servlet</description>
        <display-name>magnolia ResourceDispatcher</display-name>
        <servlet-name>ResourceDispatcher</servlet-name>
        <servlet-class>info.magnolia.cms.servlets.ResourceDispatcher</servlet-class>
    </servlet>
    <servlet>
        <description>Activation handler servlet</description>
        <display-name>magnolia ActivationHandler</display-name>
        <servlet-name>ActivationHandler</servlet-name>
        <servlet-class>info.magnolia.cms.exchange.simple.SimpleExchangeServlet</servlet-class>
    </servlet>
    <servlet>
        <description>Admin interface tree servlet</description>
        <display-name>magnolia AdminTreeServlet</display-name>
        <servlet-name>AdminTreeServlet</servlet-name>
        <servlet-class>info.magnolia.module.admininterface.AdminTreeMVCServlet</servlet-class>
    </servlet>
    <servlet>
        <description>ImportExportServlet</description>
        <display-name>magnolia ImportExportServlet</display-name>
        <servlet-name>ImportExportServlet</servlet-name>
        <servlet-class>info.magnolia.cms.servlets.ImportExportServlet</servlet-class>
    </servlet>
    <servlet>
        <description>Spool servlet</description>
        <display-name>spool</display-name>
        <servlet-name>Spool</servlet-name>
        <servlet-class>info.magnolia.cms.servlets.Spool</servlet-class>
    </servlet>
    <servlet>
        <description>Handles the magnolia dialogs (those with the magnolia controls)</description>
        <servlet-name>DialogServlet</servlet-name>
        <servlet-class>info.magnolia.module.admininterface.DialogMVCServlet</servlet-class>
    </servlet>
    <servlet>
        <description>Handles the other magnolia dialogs (pages, includes, ..)</description>
        <servlet-name>DialogPageServlet</servlet-name>
        <servlet-class>info.magnolia.module.admininterface.DialogPageMVCServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fileThumbnail</servlet-name>
        <servlet-class>info.magnolia.module.admininterface.dialogpages.FileThumbnailDialogPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>magnolia</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestInterceptor</servlet-name>
        <url-pattern>/RequestInterceptor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResourceDispatcher</servlet-name>
        <url-pattern>/ResourceDispatcher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivationHandler</servlet-name>
        <url-pattern>/ActivationHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Spool</servlet-name>
        <url-pattern>/docroot/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Spool</servlet-name>
        <url-pattern>/admindocroot/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminTreeServlet</servlet-name>
        <url-pattern>/admintemplates/adminCentral/extractTree.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminTreeServlet</servlet-name>
        <url-pattern>/adminCentral/extractTree</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportExportServlet</servlet-name>
        <url-pattern>/.magnolia/mgnl-export/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportExportServlet</servlet-name>
        <url-pattern>/.magnolia/mgnl-import/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DialogServlet</servlet-name>
        <url-pattern>/.magnolia/dialogs/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DialogPageServlet</servlet-name>
        <url-pattern>/.magnolia/dialogpages/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fileThumbnail</servlet-name>
        <url-pattern>/admintemplates/dialogs/fileThumbnail.jsp</url-pattern>
    </servlet-mapping>
    <listener>
        <description>Magnolia initializer</description>
        <display-name>initializer</display-name>
        <listener-class>info.magnolia.cms.servlets.PropertyInitializer</listener-class>
    </listener>
    <context-param>
        <param-name>magnolia.cache.startdir</param-name>
        <param-value>cache</param-value>
    </context-param>
    <context-param>
        <param-name>magnolia.upload.tmpdir</param-name>
        <param-value>tmp</param-value>
    </context-param>
    <context-param>
        <param-name>magnolia.exchange.history</param-name>
        <param-value>history</param-value>
    </context-param>
    <context-param>
        <param-name>magnolia.repositories.config</param-name>
        <param-value>WEB-INF/config/repositories.xml</param-value>
    </context-param>
    <context-param>
        <param-name>log4j.config</param-name>
        <param-value>WEB-INF/config/log4j.xml</param-value>
    </context-param>
    <context-param>
        <param-name>magnolia.root.sysproperty</param-name>
        <param-value>magnolia.root</param-value>
    </context-param>
    <context-param>
        <param-name>magnolia.bootstrap.dir</param-name>
        <param-value>WEB-INF/bootstrap</param-value>
    </context-param>
    <context-param>
        <param-name>magnolia.initialization.file</param-name>
        <param-value>
            WEB-INF/config/${servername}/${webapp}/magnolia.properties, WEB-INF/config/${servername}/magnolia.properties,
            WEB-INF/config/${webapp}/magnolia.properties, WEB-INF/config/default/magnolia.properties, WEB-INF/config/magnolia.properties
        </param-value>
    </context-param>
    <jsp-config>
        <taglib>
            <taglib-uri>cms-taglib</taglib-uri>
            <taglib-location>/WEB-INF/taglib/cms-taglib.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>cms-util-taglib</taglib-uri>
            <taglib-location>/WEB-INF/taglib/cms-util-taglib.tld</taglib-location>
        </taglib>
    </jsp-config>
    <error-page>
        <error-code>500</error-code>
        <location>/admintemplates/error.jsp</location>
    </error-page>
</web-app>
