* {
    margin: 0;
    padding: 0;
}

body {
    font: 90% arial, helvetica, sans-serif;
    background: #FAFBF4;
}

a {
    color: #689600;
}

h1 {
    padding-top: 16px;
    border-top: 4px solid #000;
    padding-bottom: 6px;
}

h2 {
    padding-bottom: 2px;
}


h3 {
    padding-top: 10px;
}

h4 {
    padding-top: 7px;
}

#wrapper {
    width: 1180px;
    margin: 0 auto;
    padding: 15px;
}

#header {
    margin-bottom: 20px;
}

#navigation {
    width: 100%;
    background: #999;
    height: 70px;
    position: relative;
}

#navigation ul {
    list-style: none;
    padding: 5px;
    margin-left: 2px;
}

#navigation ul.second {
    list-style: none;
    position: absolute;
    top: 30px;
}


#navigation ul li {
    float: left;
    padding: 4px 6px;
    background-color: #000;
    color: #fff;
    margin: 2px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

#navigation ul li.selected, #navigation ul li.selected a, #navigation ul li a:hover {
    color: #fff;
}

#navigation ul li a {
    color: #bbb;
}

#navigation a {
    text-decoration: none;
}

#stage {
    width: 1000px;
    height: 80px;
    margin: 4px auto;
    background: #99CCFF;
    margin: 4px auto;
}

#wrapper-2 {
    padding-top: 20px;
}

#wrapper-2:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
    clear: both;
}

#main {
    width: 900px;
    float: left;
}


#main div {
    margin-top: 5px;
}

#main div ul {
    list-style-position: inside;
}

#extras {
    width: 280px;
    float: left;
}

#footer {
    margin-top: 20px;
    border-top: 4px solid #000;
    width: 100%;
    padding-top: 10px;
    clear: both;
    width: 100%;

}

#footer-element {
    width: 33%;
    float: left;
}

#search-results ul li span{
    font-size: 70%;
    padding-left: 10px;
}


/*#######################
    COMPONENTS
#######################*/

.linkList{
    padding: 10px;
}

.linkList ul
{
    list-style-position: inside;
}

