<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <description>Magnolia</description>
  <display-name>magnolia</display-name>
  <filter>
    <display-name>Magnolia global filters</display-name>
    <filter-name>magnoliaFilterChain</filter-name>
    <filter-class>info.magnolia.cms.filters.MagnoliaMainFilter</filter-class>
    <!--
      login configuration is now in config jcr, path: /server/config/login
    -->
  </filter>
  <filter-mapping>
    <filter-name>magnoliaFilterChain</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description>Admin interface tree servlet</description>
    <display-name>magnolia AdminTreeServlet</display-name>
    <servlet-name>AdminTreeServlet</servlet-name>
    <servlet-class>info.magnolia.module.admininterface.AdminTreeMVCServlet</servlet-class>
  </servlet>
  <servlet>
    <description>Classpath Spool servlet</description>
    <display-name>classpathspool</display-name>
    <servlet-name>classpathspool</servlet-name>
    <servlet-class>info.magnolia.cms.servlets.ClasspathSpool</servlet-class>
  </servlet>
  <servlet>
    <description>Handles the magnolia dialogs (those with the magnolia controls)</description>
    <servlet-name>DialogServlet</servlet-name>
    <servlet-class>info.magnolia.module.admininterface.DialogMVCServlet</servlet-class>
  </servlet>
  <servlet>
    <description>Handles the other magnolia dialogs (pages, includes, ..)</description>
    <servlet-name>PageServlet</servlet-name>
    <servlet-class>info.magnolia.module.admininterface.PageMVCServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>log4j</servlet-name>
    <servlet-class>it.openutils.log4j.Log4jConfigurationServlet</servlet-class>
  </servlet>
  <!-- This servlet is deprecated, should not be used.
       See http://jira.magnolia.info/browse/MAGNOLIA-1535
  <servlet>
    <servlet-name>uuidRequestDispatcher</servlet-name>
    <servlet-class>info.magnolia.cms.servlets.UUIDRequestDispatcher</servlet-class>
  </servlet>
  -->
  <!--  used for fckeditor inline images and files -->
  <servlet>
    <servlet-name>FCKEditorSimpleUploadServlet</servlet-name>
    <servlet-class>info.magnolia.cms.gui.fckeditor.FCKEditorSimpleUploadServlet</servlet-class>
    <init-param>
      <param-name>AllowedExtensionsFile</param-name>
      <param-value />
    </init-param>
    <init-param>
      <param-name>DeniedExtensionsFile</param-name>
      <param-value>php|php3|php5|phtml|asp|aspx|ascx|jsp|cfm|cfc|pl|bat|exe|dll|reg|cgi</param-value>
    </init-param>
    <init-param>
      <param-name>AllowedExtensionsImage</param-name>
      <param-value>jpg|gif|jpeg|png|bmp</param-value>
    </init-param>
    <init-param>
      <param-name>DeniedExtensionsImage</param-name>
      <param-value />
    </init-param>
    <init-param>
      <param-name>AllowedExtensionsFlash</param-name>
      <param-value>swf|fla</param-value>
    </init-param>
    <init-param>
      <param-name>DeniedExtensionsFlash</param-name>
      <param-value />
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>classpathspool</servlet-name>
    <url-pattern>/.resources/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminTreeServlet</servlet-name>
    <url-pattern>/.magnolia/trees/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DialogServlet</servlet-name>
    <url-pattern>/.magnolia/dialogs/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PageServlet</servlet-name>
    <url-pattern>/.magnolia/pages/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>log4j</servlet-name>
    <url-pattern>/.magnolia/log4j/*</url-pattern>
  </servlet-mapping>
  <!-- This servlet is deprecated, should not be used.
       See http://jira.magnolia.info/browse/MAGNOLIA-1535
  <servlet-mapping>
    <servlet-name>uuidRequestDispatcher</servlet-name>
    <url-pattern>/uuid/*</url-pattern>
  </servlet-mapping>
  -->
  <servlet-mapping>
    <servlet-name>FCKEditorSimpleUploadServlet</servlet-name>
    <url-pattern>/.magnolia/fckeditor/upload</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>info.magnolia.cms.servlets.PropertyInitializer</listener-class>
  </listener>
  <!-- These are the default paths searched for magnolia configuration. Uncomment if you need to customize this. -->
  <!-- Be aware that your container might do its own variables replacement here (Resin does, Tomcat doesn't, for instance -->
  <!--
  <context-param>
    <param-name>magnolia.initialization.file</param-name>
    <param-value>
      WEB-INF/config/${servername}/${webapp}/magnolia.properties, WEB-INF/config/${servername}/magnolia.properties,
      WEB-INF/config/${webapp}/magnolia.properties, WEB-INF/config/default/magnolia.properties,
      WEB-INF/config/magnolia.properties
    </param-value>
  </context-param>
  -->
  <listener>
    <listener-class>info.magnolia.cms.beans.config.ShutdownManager</listener-class>
  </listener>
</web-app>
