.sidebar-menu .v-label,.rack .v-label {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  padding: .6em .9em;
}

.sidebar-menu .v-label:hover {
  cursor: pointer;
}

.sidebar-menu .v-label-spacer:hover {
  cursor: auto;
}

.sidebar-menu .v-label img {
  vertical-align: middle;
}

.sidebar-menu .v-tree-node {
  background: none;
}

.sidebar-menu .v-caption {
  font-size: .85em;
  height: 0;
  overflow: visible;
  height: 0;
  clear: both;
}

.sidebar-menu .v-captiontext,.sidebar-menu .v-icon {
  padding: .6em .9em 0;
}

.sidebar-menu .v-captiontext {
  float: right;
}

.sidebar-menu .v-icon {
  float: left;
}

.rack .v-button-action {
  width: 100%;
  text-align: left;
}

.rack .v-disclosure .v-csslayout-margin {
  padding: 0;
  padding-top: 0;
  padding-bottom: 1.2em;
}

.rack .v-disclosure>.v-csslayout-margin {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 12px;
  padding-right: 1px;
}

.v-sa5 .rack .v-disclosure>.v-csslayout-margin {
  padding-right: 10px;
}

.rack .close {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  -khtml-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  float: right;
  width: 14px;
  height: 15px;
  overflow: hidden;
  text-indent: -50px;
  background: transparent url(../chameleon/img/close-btn.png) no-repeat 0 0;
  vertical-align: middle;
  padding: 0; margin : 2px 0 0 0;
  box-sizing: content-box;
  margin: 2px 0 0 0;
}

.rack .close:hover {
  background-position-y: -25px;
}

.rack .close:active {
  background-position-y: -50px;
}

.rack .v-filterselect {
  width: 100% !important;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.v-csslayout-rack>.v-csslayout-margin {
  margin-left: 9px;
}

.collapser {
  position: relative;
  height: 100%;
}

.collapser .v-csslayout-margin, .collapser .v-csslayout-container {
  height: 100%;
}

.collapser .expanded-content {
  height: 100%;
  overflow: auto;
}

.collapser .collapsed-content {
  height: 100%;
  overflow: hidden;
}

.collapser.collapsed {
  float: right;
  width: 29px;
}

.collapser .collapsed-content {
  float: right;
  width: 20px;
}

.collapser .v-nativebutton-collapse {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 9px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.v-ff .collapser .v-nativebutton-collapse {
  border-width: 1px;
  border-color: #8E8E87;
  border-style: solid;
}

.v-ff .collapser .v-nativebutton-collapse span {
  margin-left: -2px;
}

.collapser .v-nativebutton-collapse .v-nativebutton-caption {
  font-size: 9px;
}